html {
    overflow-x: hidden;
  }
  
  body {
    background: #fff;
    font-family: "Open Sans", cursive;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color: #000;
  }
  /* navbar   */
   ul, li, a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  
  }
  /* image */
 .img {
   height: 70%;
   width:100%;
   
 }

 /* Testimonial */
 .card {
   border: 2px solid green;
 }

 
 /*  Footer  */
 .footer {
  background: #061D25;
  padding: 10px 0;
}
.footer a {
  color: #000;
  font-size: 40px;
  padding: 20px 40px;
  
  transition: all .5s ease;
}

.footer a:hover {
  color: white;
}

  