html {
    overflow-x: hidden;
  }
  
  body {
    background: #fff;
    font-family: "Open Sans", cursive;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color: #000;
  }
  /* -----------------------------------logo   */
  .header {
    display: flex;
  }

  .logo {
    width: 6%;
    height: 6%;
    border-radius: 50%;
    margin-top: 10px;
  }
  /* -----------------------------------navbar   */
   ul, li, a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  
  }
  /* --------------------------------home page image */
 .img {
   height: 70%;
   width:100%;
 }

 .head {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  background:#FFF;
}

 /* ----------------------------------Testimonial */
 .card {
   border: 2px solid rgb(117, 214, 243);
   padding: 10px;
 }
 /* ----------------------------------contactin base.html */
 .contact {
   background-color: rgb(144, 147, 150);
   margin-top: 20px;
 }
 
 /*  -----------------------------------Footer  */
 .footer {
  background: #e0f0f5;
  padding: 10px 0;
}
.footer a {
  color: #000;
  font-size: 40px;
  padding: 20px 40px;
  
  transition: all .5s ease;
}

.footer a:hover {
  color: white;
}

  