{% extends "base.html" %}
{% load static %}
{% block content%}




<h2>About Us</h2>
<p><strong>Dosa Palace</strong> is an authentic Indian 100% pure Vegetarian restaurant specialised in South Indian dosas.</p>
<p>A dosa is a thin pancake or crepe originating from South India, made from a fermented batter predominantly consisting of lentils and rice. It is somewhat similar to a crepe in appearance, although savoury flavours are generally emphasized. Its main ingredients are rice and black gram, ground together in a fine, smooth batter with a dash of salt, then fermented. Dosas are a common dish in South Indian cuisine, but now have become popular all over the Indian subcontinent. 
    Dosas are served hot along with chutney by tradition and sambar in recent times. Other accompaniments include chutney powder.</p>

<br>
<h2>Testimonial</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-sm-6 card">

                <p>
                    My wife and I, vacationing in SD from Chicago, had lunch Fri 17th at TFG and we were both absolutely
                    pleased with everything at your place. Your wait staff was so pleasant and helpfull.
                    Your menu is classic French executed authentically
                </p>
                <b>- Mani, Limerick</b>
            </div>
            <div class="col-sm-6 card">
                <p>
                    My wife and I, vacationing in SD from Chicago, had lunch Fri 17th at TFG and we were both absolutely
                    pleased with everything at your place. Your wait staff was so pleasant and helpfull.
                    Your menu is classic French executed authentically. The taste is very good.
                </p>
                <b>- Mani, Limerick</b>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-sm-6 card">
                <p>
                    My wife and I, vacationing in SD from Chicago, had lunch Fri 17th at TFG and we were both absolutely
                    pleased with everything at your place. Your wait staff was so pleasant and helpfull.
                    Your menu is classic French executed authentically. The taste is very good.
                </p>
                <b>- Mani, Limerick</b>
            </div>
            <div class="col-sm-6 card">
                <p>
                    My wife and I, vacationing in SD from Chicago, had lunch Fri 17th at TFG and we were both absolutely
                    pleased with everything at your place. Your wait staff was so pleasant and helpfull.
                    Your menu is classic French executed authentically. The taste is very good.
                </p>
                <b>- Mani, Limerick</b>
            </div>
        </div>
    </div>
</div>



{% endblock %}